body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

nav {
  background: #000;
  width: 220px;
  color: #fff;
  overflow-y: auto;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  list-style-type: none;
  padding: 1em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
  transition: background 0.3s ease;
}

nav li:hover {
  background: #333;
}

iframe {
  width: 100%;
  height: 100vh;
  border: none;
}
